a:link		{ font-family: Arial, Helvetica, san-serif; color: #7898AD; text-decoration: none; }
a:visited	{ font-family: Arial, Helvetica, san-serif; color: #7898AD; text-decoration: none; }
a:active	{ font-family: Arial, Helvetica, san-serif; color: #C0C0C0; text-decoration: none; }
a:hover		{ font-family: Arial, Helvetica, san-serif; color: #FFCC00; text-decoration: none; }
body 		{ font-family: Arial, Helvetica, san-serif; color: #CCCCCC; font-size: 9pt; background: #000000; }
p,td		{ font-size: 9pt; font-family: Arial, Helvetica, san-serif; }
li		{ font-size: 9pt; font-family: Arial, Helvetica, san-serif; }

.title1		{ font-family: Arial, Helvetica, san-serif; color: #FFFFFF; font-size: 10pt; font-weight: bold; }
.title2		{ font-family: Arial, Helvetica, san-serif; color: #FFCC66; font-size: 10pt; font-weight: bold; }
.title3		{ font-family: Arial, Helvetica, san-serif; color: #FFCC00; font-size: 10pt; font-weight: bold; }
.title4		{ font-family: Arial, Helvetica, san-serif; color: #FFCC00; font-size: 20pt; font-weight: bold; }
.footer		{ font-family: Arial, Helvetica, san-serif; color: #CCCCCC; font-size: 8pt; text-align: justify; }
.footer1	{ font-family: Arial, Helvetica, san-serif; color: #CCCCCC; font-size: 8pt; text-align: center; }
.shipname	{ font-family: Arial, Helvetica, san-serif; color: #FFCC00; }
.groupname	{ font-family: Arial, Helvetica, san-serif; color: #FFCC66; font-weight: bold; }
.coname		{ font-family: Arial, Helvetica, san-serif; color: #FFCC66; }
.SB_header	{ font-family: Arial, Helvetica, san-serif; color: #000000; background:#CCCCCC; }
.SB_title	{ font-family: Arial, Helvetica, san-serif; color: #000000; background:#CCCCCC; font-weight: bold; }
.ShipInactive	{ font-family: Arial, Helvetica, san-serif; color: #FF0000; font-weight: bold; }
.coemail	{ font-family: Arial, Helvetica, san-serif; color: #CCCCCC; font-size: 10pt; }
.mission	{ font-family: Arial, Helvetica, san-serif; color: #CCCCCC; font-size: 10pt; }
.TopicTitle	{ font-family: Arial, Helvetica, san-serif; color: #FFFFFF; font-size: 13pt; font-weight: bold; }
.TopicBar	{ font-family: Arial, Helvetica, san-serif; color: #000000; font-size: 13pt; font-weight: bold; background: #7898AD; }
